
.idea/.idea.WindowsFormsApp1/.idea/contentModel.xml
.idea/.idea.WindowsFormsApp1/.idea/dictionaries/User.xml
.idea/.idea.WindowsFormsApp1/.idea/encodings.xml
.idea/.idea.WindowsFormsApp1/.idea/indexLayout.xml
.idea/.idea.WindowsFormsApp1/.idea/modules.xml
.idea/.idea.WindowsFormsApp1/.idea/projectSettingsUpdater.xml
.idea/.idea.WindowsFormsApp1/.idea/vcs.xml
.idea/.idea.WindowsFormsApp1/.idea/workspace.xml
.idea/.idea.WindowsFormsApp1/riderModule.iml
.vs/WindowsFormsApp1/v16/.suo
.idea/.idea.WindowsFormsApp1/.idea/.name
